*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    bottom: 30px;
    text-shadow: 0 0 10px #FFFFFF;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    
}

.logo-img{
    width: 160px;
    max-width: 100%;
    
    
}

.container,
.cards-container,
.score-container{ 
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;

}

.score-container{
    gap: 1em;
}

nav{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cards-container{
    padding-top: 1em;
    align-items: center;
    gap: 1em;
}

.cards-container:last-child{
    margin-bottom: 0;
}

.winner-label{
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    margin-bottom: .5em;
}

.card,
.card-placeholder{
    box-shadow: 8px 6px 11px 6px rgba(0,0,0,0.48);
}

.card{
    max-width: 100%;
    height: 210px;
    border-radius: 10px;
    
}


.card-placeholder{
    width: 150px;
    height: 210px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.cards-remaining{
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;

}

.game-btn{
    margin: 0 2em;
    cursor: pointer;
    padding: .5em 1em;
    font-family: 'Raleway', sans-serif; ;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 8px 6px 11px 6px rgba(0,0,0,0.48);

}

.game-btn:focus,
.game-btn:hover{
    background-color: whitesmoke;
    color: #000;
}

.player-score{
    font-size: 1rem;
    color: whitesmoke;
      
}

@media(min-width: 700px){
    .main-container{
        justify-content: flex-start;
    }

    h1{
        font-size: 5rem;
        bottom: 70px;
    }

    .logo-img{
        width: 260px;
    }

    .game-btn{
        font-size: 1.5rem;
    }

    .winner-label{
        font-size: 2rem;
    }
    .cards-remaining{
        font-size: 1.5rem;
    }

    .card-placeholder{
        width: 250px;
        height: 350px;
        
    }

    .card{
        max-width: 100%;
        height: 350px;
    }

    .player-score{
        font-size: 1.5rem;
    }
    .score-container{
        gap: 2em;
    }
}